<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'users' %>
<%= link_to 'New article', new_user_path %>

<h1>Listing User</h1>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Password</th>
    <th>Roll</th>
    <th>link</th>
  </tr>

  <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.roll %></td>
        <td><%= link_to 'view', user %></td>
      </tr>
  <% end %>
</table>