<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'users' %>
<%= link_to 'New article', new_user_path %>

<h1>Listing User</h1>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Password</th>
    <th>Roll</th>
    <th colspan="3">CRUD</th>

  </tr>

  <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.roll %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user,
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>