<div class="table-responsive">
<table class="table table-bordered">
  <caption><h2>User Show</h2></caption>
  <tr>
    <td class="success">ID</td>
    <td> <%= @user.id %></td>

  </tr>
  <tr>
    <td class="success">UserName</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td class="success">PassWord</td>
    <td><%= @user.password %></td>
  </tr>
  <tr>
    <td class="success">Roll</td>
    <td><%= @user.roll %></td>
  </tr>

</table>
</div>
<%= link_to 'Back', users_path %> /
<%= link_to 'Edit', edit_user_path(@user) %>