<h1>User</h1>
<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>UserName:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>PassWord:</strong>
  <%= @user.password %>
</p>
<p>
  <strong>Roll:</strong>
  <%= @user.roll %>
</p>
<%= link_to 'Back', users_path %>
